<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>invoice_ocr</title>
</head>
<body>
    <h1>請求書作成アプリ</h1>
    <h3>PDFファイルを選択</h3>
    <input type="file" multiple id="InputImage" accept="application/pdf">
    <br><br>
    <button type="button" id="ocr">OCR実行</button>
    <p id="clicked"></p>
    <br>
    <h3>結果を表示</h3>
    <p class="result"></p>
    <script src="../static/js/main.js"></script>
</body>
</html>